/* Beitrag ändern, Beitrag erstellen */

.titel {
  width: 600px;
}

.inhalt {
  width: 600px;
  height: 300px;
}

/*Content*/
body{
  background-color: #efefef;
}
.content {
  width: 60%;
  margin: 50px auto 80px auto;
  /*padding-top: 20px;*/
}

input.btn.btn-primary.login {
  width: 30%;
  margin: auto 65px;
}

/*Header*/
.header {
  width: 100%;
}

.loggedin {
  font-size: 12px !important;
  color: #777;
}

input.btn.btn-primary.login {
  width: 30%;
  margin: auto 65px;
}

.blog_name {
  padding-left: 15px;
}


/*Delete and edit icon*/
h2 button{
  background:none;
  border: none;
}
i.fa.fa-trash-o {
  color: red;
  margin-left: 10px;
}

i.fa.fa-pencil-square-o {
  margin-left: 10px;
  color: dodgerblue;
  border-right: 1px solid black;
  padding-right: 10px;
}

/*Log in/out*/

.Login_form input {
  height: 40px;
  width: 300px;
  padding-left: 10px;
}

.Login_form label {
  padding: 10px 0;
}

.Login_form button {
  margin-top: 10px;
  height: 30px;
  width: 100px;
}

.btn-primary a {
  color: white;
}

.logout-area{
  float: right;
}

.list-group-item.active {
  z-index: 0;
  color: #fff;
  background-color: #6495ED;
  border-color: #6495ED;
}

/*Navbar*/

ul.navbar {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  line-height: 3;
}
li {
  padding-right: 40px;
  text-align: center;
}

li.navbar-li {
  display: inline-block;
  font-size: 17px;
}

nav.navbar {
  background-color: #292b2c;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

a.nav-a:active,
a.nav-a:hover {
  border-top: 3px solid #6495ED;
  border-bottom: 3px solid #6495ED;
  color: #6495ED;
  padding: 6px 0;
}

/*Import/Export*/
.import, .export {
  margin-bottom: 10px;
  width: 25%;
  margin-left: 37%;
}

/*Footer*/
.footer-left{
  float: left;
}
.footer-right{
  float:right;
  text-align: right;
}

footer {
  color: #6495ED;
  background: #343a40;
  height: 55px;
  padding: 15px;
  width: 100%;
  bottom: 0;
  position: fixed;
}


/*Login*/

#login {
    margin-top: 10px;
}

a{
  text-decoration: none !important;
  color: #6495ED;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 5px;
}

/* strip right */
img.strip-right {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: 585px;
}