/* Beitrag ändern, Beitrag erstellen */

.titel {
  width: 600px;
}

.inhalt {
  width: 600px;
  height: 300px;
}

/*Content*/

.content {
  width: 60%;
  margin: 50px auto 50px auto;
  padding-top: 20px;
}

/*Header*/
.header {
  width: 100%;
}

.loggedin {
  font-size: 14px;
  color: #777;
}

.blog_name {
  padding-left: 15px;
}


/*delete and edit icon*/
h2 button{
  background:none;
  border: none;
}
i.fa.fa-trash-o {
  color: red;
  margin-left: 10px;
}

i.fa.fa-pencil-square-o {
  margin-left: 10px;
  color: dodgerblue;
  border-right: 1px solid black;
  padding-right: 10px;
}

/*Log in/out*/

.Login_form input {
  height: 40px;
  width: 300px;
  padding-left: 10px;
}

.Login_form label {
  padding: 10px 0;
}

.Login_form button {
  margin-top: 10px;
  height: 30px;
  width: 100px;
}

.btn-primary a {
  color: white;
}

.logout-area{
  float: right;
}

/*Navbar*/

ul.navbar {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  line-height: 2;
}
li {
  padding-right: 40px;
  text-align: center;
}

li.navbar-li {
  display: inline-block;
}

nav.navbar {
  background-color: #292b2c;
}